body {
  line-height: 1.4;
  font-family: Georgia, serif;
  border-top: 10px solid rgb(36, 36, 36);
}

header {
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -2px;
  color: rgb(36, 36, 36);
}

nav {
  margin-top: -50px;
}

nav ul {
  float: right;
}

nav ul li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 15px;
  background-color: #FF6319;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  padding: 10px;
  color: white;

  transition: .5s all;
}

nav ul li:hover {
  background-color: #2850AD;
  cursor: pointer;
}

.main-img img {
  width: 100%;
  margin-bottom: 20px;
}

.posts {
}

.post {
  margin-bottom: 60px;
  border-bottom: 1px solid rgb(121, 121, 121);
  padding-bottom: 30px;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 35px;
  font-weight: 200;
  color: rgb(36, 36, 36);
}

.info {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(121, 121, 121);
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.date {
  color: rgb(200, 200, 200);
}

.text {
  margin-bottom: 10px;
  color: rgb(60, 60, 60);
}

.sidebar {
  background-color: yellow;
}

